.sunny{
    background-image: url("../public/images/sun1.jpg");
    height: 450px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}
.sunny h1{
    margin-top: 146px;
}
.cloudy{
    background-image: url("../public/images/cloud.jpg");
    height: 450px;
    width: 200px ;
    background-repeat: no-repeat;
}
.cloudy img{
    width: 150px;
    height: 110px;
    margin: 20px 20px
}
.cloudy h1{
    color: white;
}
.rainy{
    background-image: url("../public/images/rain.jpg");
    height: 450px;
    width: 300px;
    background-repeat: no-repeat;
}
.rainy img{
    width: 209px;
    height: 146px;

}
.rainy h1{
    color: white;
}